.input {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-small);
    padding-left: 10px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
}

.label {
    font-size: 1.5em;
}

.input:focus {
    outline: none !important;
    border: var(--focus-outline)
}