.input {
    height: 2rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px;
    padding-left: 10px;
    width: 98%;
}

.label {
    font-size: 1.5em;
}

.input[type=text]:focus {
   outline: none;
}