.button {
    border: none;
    border-radius: var(--border-radius-medium);
    height: 2rem;
    width: 100%;
    box-shadow: var(--box-shadow-small);
    font-size: 1rem;
    font-weight: bold;
    color: black;
;}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(0.99);
}

.button[disabled] {
  pointer-events: none;
  color: rgba(16, 16, 16, 0.3);
}

.buttonLoading {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, var(--secondary) 4%, var(--primary-hover) 25%, var(--secondary) 36%);
    background-size: 1000px 600px;
    min-height: 600px;
    width: 100%;
    opacity: 0.95;
    height: 10000px;
 }

 @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }