.container {
    background-color: var(--primary);
    border-radius: var(--border-radius-large);
    padding: 20px;
    box-shadow: var(--box-shadow-large);
    position: relative;
    transition:transform 0.5s ease-out;
    transform: scaleY(1);
    transform-origin:top;
    align-items: center;
    width: 100%;
}

.collapsed {
    transform: scaleY(0.9);
}

.closeCardButton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
}

.closeCardButton h1 {
    margin: 0px;
}

.closeCardButton:hover {
    cursor: pointer;
}
