.navbar {
    overflow: hidden;
    background-color: var(--secondary);
    margin-bottom: 400px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: var(--secondary-active)
}

.navbar a:hover {
    background-color: var(--secondary-hover);
}

.outlet {
    padding: 40px 20px 20px 20px
}