.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0px 0px 10px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

a {
  float: left;
  color: white;
  padding: 14px 16px 0px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 5px 2.5px 0px 2.5px;
}

.mobileNavbar {
  display: none;
}

.menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobileNavbar {
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    display: block;
    background-color: var(--accent);
    border-bottom-right-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    z-index: 4;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: var(--accent);
    border-bottom-right-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-subtle);
    padding: 10px;
    transition: 0.5s ease-in-out;
  }

  a {
    padding: 0px 10px 10px 5px;
  }
}

.active {
  font-weight: bold;
}
