.loading {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, var(--primary-hover) 4%, var(--primary) 25%, var(--primary-hover) 36%);
    background-size: 100px 100px;
    border-radius: 50%;
    opacity: 0.95;

 }

 @keyframes shimmer {
    0% {
      background-position: -100px 0;
    }
    100% {
      background-position: 100px 0;
    }
  }