.row {
  background-color: var(--secondary);
  cursor: pointer;
}

.row td {
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid var(--secondary-hover);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.row td:first-child {
  padding-left: 20px;
  padding-right: 0;
}

.row:hover {
  background-color: var(--secondary-hover);
}
