.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltipText {
    padding: 5px 10px 5px 10px;
    visibility: hidden;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow-small);
    border-radius: var(--border-radius-medium);
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    top: 100%;
    left: 50%;
    margin-left: -145px;
    text-align: left;
}

.tooltipText::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--secondary) transparent;
  }

.tooltip:hover .tooltipText {
    visibility: visible;
}