:root {
  --primary: hsl(0, 100%, 96%);
  --primary-hover: hsl(0, 31%, 95%);
  --secondary: hsl(170, 50%, 79%);
  --secondary-hover: hsl(170, 36%, 59%);
  --secondary-active: hsl(30, 95%, 50%);
  --tertiary: hsl(210, 69%, 66%);
  --accent: hsl(33, 88%, 70%);
  --danger: hsl(10, 87%, 61%);
  --checked: hsl(182, 85%, 48%);

  --box-shadow-subtle: 2px 2px 8px rgba(0, 0, 0, 0.2);

  --focus-outline: solid 1px var(--secondary);
  --error-outline: solid 2px var(--danger);

  --border-radius-large: 10px;
  --border-radius-medium: 5px;
}

body {
  background-color: var(--secondary);
  overflow-x: hidden;
}

.App {
  height: 100%;
  background-color: var(--secondary);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    background-size: auto;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}
