:root {
  --primary: hsl(350, 100%, 88%);
  --primary-hover: hsl(350, 100%, 95%);
  --secondary: rgb(254, 198, 66);
  --secondary-hover: hsl(30, 56%, 51%);
  --secondary-active: hsl(30, 95%, 50%);

  --box-shadow-large: 15px 10px;
  --box-shadow-small: 5px 2.5px;

  --focus-outline: solid 1px var(--secondary)
}

.App {
  background-image: url(/Users/sebastianchristiansen/Desktop/Projects/wedding-app/public/background-image.jpg);
  min-height: 100vh;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}