.App {
  padding: 20px;
  background-image: url(/Users/sebastianchristiansen/Desktop/Projects/wedding-app/public/background-image.jpg);
  min-height: 100vh;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}